@import "~@@/style/_var";

.story-loader {
  label {
    width: 100%;
    padding: 5px 0;
    text-align: center;
  }

  form {
    display: flex;
    grid-template-areas: "loader button";

    @media (max-width: $mobile_width) {
      display: block;
    }

    label {
      input {
        width: auto;
      }
    }

    button {
      grid-area: button;
      max-height: 36px;
      align-self: center;
      justify-self: left;
      margin: 0 0 0 10px;

      @media (max-width: $mobile_width) {
        margin-left: 0;
      }
    }
  }

  button {
    margin: 0 auto;
    display: block;
    color: $sky;
    border-color: $sky;

    &:hover {
      background-color: $sky;
      color: white;
    }
  }

  .separator {
    text-transform: uppercase;
    text-align: center;
    margin: 35px 0;
    font-size: 1.2rem;
    position: relative;

    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      width: 10%;
      height: 2px;
      background-color: #333;

      @media (max-width: $mobile_small) {
        display: none;
      }
    }

    &:before {
      left: 35%;
    }

    &:after {
      right: 35%;
    }
  }
}
