@import "~@@/_var";
.node-link-editor {
  padding: 1rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);

  & > *:not(label) {
    margin-bottom: 10px;
    display: block;
  }

  .delete-node-link {
    cursor: pointer;
    .confirm {
      margin-left: 10px;
      color: #aaa;
      font-size: 0.8rem;
      font-style: italic;
      animation: $fadeInAnimation;
    }
    .confirmLink {
      cursor: pointer;
      text-decoration: underline;

      &:hover {
        color: #666;
      }
    }
  }

  .node-link-type-options {
    padding: 1rem;
  }

  .radio-group {
    margin: 1rem 0;
  }

  select {
    padding: 10px;
    background-color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
  }

  label[for="node-link-node-target"],
  label[for="action"] {
    position: relative;

    &:after {
      content: "";
      display: block;
      width: 1px;
      height: 1px;
      border: solid 7px #333;
      border-bottom: 0;
      border-left-color: transparent;
      border-right-color: transparent;
      position: absolute;
      top: 50%;
      right: 2%;
      transform: translate(0, -50%);
    }
  }

  .radio-group {
    label {
      border: solid 1px #aaa;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    }
    label:first-of-type {
      border-top-left-radius: 0.3rem;
      border-bottom-left-radius: 0.3rem;
      border-right-color: transparent;
    }
    label:last-of-type {
      border-top-right-radius: 0.3rem;
      border-bottom-right-radius: 0.3rem;
      border-left-color: transparent;
    }
  }
}
