@import "~@@/_var";

.shortcode-editor {
  margin: 35px;
  padding: 1rem;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);

  @media (max-width: $mobile_width) {
    margin-left: 0;
    margin-right: 0;
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;
  }

  label > span:first-child {
    background-color: $purple;
    border-color: $purple;
  }

  input {
    border-color: $purple;
  }

  button {
    background-color: transparent;
    color: $purple;
    border-color: $purple;

    &:hover {
      background-color: $purple;
      color: white;
    }
  }

  .shortcode-style-editor {
    padding: 1rem;
    margin: 10px 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);

    h5 {
      margin: 5px 0;
    }

    form {
      display: grid;
      grid-template-areas: "property value";
      grid-column-gap: 20px;

      @media (max-width: $mobile_width) {
        grid-template-areas: "property" "value";
      }
    }
  }
}
