@import '~@@/_var';

.story {
  .node {
    width:60%;
    margin:35px auto;

    .node-links {
      button.node-link {
        background-color:$blue;
        color:#fff;
        margin-bottom:20px;
      }
    }
  }
}