@import "~@@/_var";

.story {
  .node {
    margin: 35px auto;

    .node-links {
      button.node-link {
        border-color: $sky;
        margin-bottom: 20px;
        color: $sky;
        display: block;
        width: 100%;

        &:hover {
          background-color: $sky;
          color: white;
        }
      }
    }
  }
}
