@import "~@@/style/_var";

.node-list {
  margin: 35px 0;
  padding: 1.5rem 0.5rem;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);

  @media (max-width: $mobile_width) {
    box-shadow: none;
  }

  .node {
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-areas: "sidebar main rightbar";
    padding: 10px 10px;
    cursor: pointer;
    border-left: solid 8px transparent;

    @media (max-width: $mobile_width) {
      grid-template-areas: "sidebar" "main" "rightbar";
      grid-template-columns: 1fr;
      grid-row-gap: 10px;
      padding: 2rem 1rem;
      margin: 25px 0;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
      &.header {
        display: none;
      }
    }

    .prefix {
      display: none;
      font-weight: bold;

      @media (max-width: $mobile_width) {
        display: inline-block;
      }
    }

    &:nth-child(2n) {
      background-color: $sky_transparent;
    }

    &:hover {
      border-color: $sky;
    }

    span:first-child {
      grid-area: sidebar;
    }
    span:last-child {
      grid-area: rightbar;
    }
  }
}
