// .text-scroll {
//   & {
//     white-space: pre;
//     overflow: hidden;
//     display: inline-block;
//     opacity: 1;
//   }

//   &.run-animation {
//     animation: type 1s steps(60, end);
//   }

//   &.hide {
//     opacity: 0;
//   }
// }

@keyframes type {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.text-scroll {
  position: relative;

  & > p {
    position: absolute;
    top: 0;
    margin: 0;
    z-index: 0;
  }

  .hiders {
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;

    p {
      position: relative;
      clear: both;
      margin: 0;
      float: right;
      width: 0;
      background: black;
    }
  }

  &.run-animation {
    .hiders p {
      animation: type 1s steps(60, end);
      animation-fill-mode: both;
      &:nth-child(2) {
        animation-delay: 1s;
      }
      &:nth-child(3) {
        animation-delay: 2s;
      }
      &:nth-child(4) {
        animation-delay: 3s;
      }
      &:nth-child(5) {
        animation-delay: 4s;
      }
    }
  }
}

@import "~@@/style/shortcodeStyles.scss";
