@import "~@@/style/_var";

.App {
  & > * {
    padding: 0 20px;

    &:not(nav) {
      max-width: 1024px;
      width: 100%;
      margin: 0 auto;
    }
  }

  .edit-toggle {
    button {
      border-color: $yellow;
      color: #666;

      &:hover {
        background-color: $yellow;
        border-color: $yellow;
      }
    }

    &.edit button {
      border-color: $green;
      color: $green;

      &:hover {
        background-color: $green;
        color: white;
        border-color: $green;
      }
    }
  }
}

nav {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  padding: 0 20px;
  margin-bottom: 25px;
  display: grid;
  grid-template-areas: "left right";
  align-items: center;

  .menu {
    text-align: right;
  }

  ul {
    list-style: none;

    a.button {
      margin-bottom: 0;
    }
  }
}

button,
.button {
  text-align: center;
  border: none;
  padding: 5px 20px;
  margin-right: 15px;
  font-size: 1rem;
  font-weight: normal;
  cursor: pointer;
  text-decoration: none;
  border-radius: 0.25rem;
  border: 1px solid black;
  background-color: transparent;
  color: black;
  transition: background-color 0.2s linear, color 0.2s linear;
  outline: none;
  min-height: 36px;

  &:hover {
    background-color: black;
    color: white;
  }
}

a.button {
  display: inline-block;
  margin-bottom: 15px;
  min-height: 0;
  padding: 8px 20px;
}

input {
  &[type="text"],
  &[type="tel"],
  &[type="email"],
  &[type="password"],
  &[type="file"] {
    padding: 0.5rem;
    font-size: 1rem;
  }
}

label {
  display: flex;
  grid-template-areas: "label input";
  margin: 0.5rem 0;
  outline: none;

  @media (max-width: $mobile_width) {
    display: grid;
    grid-template-areas: "label spacer" "input spacer";
    grid-row-gap: 10px;
  }

  @media (max-width: $mobile_small) {
    grid-template-areas: "label" "input";
  }

  & > span {
    grid-area: label;
    text-align: center;
    background-color: $sky; // #ccc;
    color: white; //#333;
    z-index: 1;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    border: solid 1px $sky;
    border-right-color: transparent;
    padding: 0.5rem 1rem;

    @media (max-width: $mobile_width) {
      display: inline;
      padding: 5px 10px;
      font-size: 0.8rem;
      border-radius: 0.3rem;
    }
  }

  input,
  textarea,
  select {
    border: solid 1px $sky;
    flex: 1 1 60%;
    @media (max-width: $mobile_width) {
      grid-area: input;
      grid-column-end: 3;
      border-radius: 0.3rem;
    }
    @media (max-width: $mobile_small) {
      grid-column-end: 1;
    }
  }

  *:not(:last-child) {
    border-right-color: transparent;
  }

  *:last-child {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;

    @media (max-width: $mobile_width) {
      border-radius: 0.3rem;
    }
  }
}

a {
  color: $sky;
}
