@import "~@@/style/_var";

.node-link-editor {
  padding: 1rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);

  & > *:not(label) {
    margin-bottom: 10px;
    display: block;
  }

  .node-link-type-options {
    padding: 1rem;
  }

  .radio-group {
    margin: 1rem 0;
  }

  select {
    padding: 10px;
    background-color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    min-height: 36px;
  }

  label {
    & > span {
      background-color: $purple;
      border-color: $purple;
    }
  }

  label[for="node-link-node-target"],
  label[for="action"] {
    position: relative;

    &:after {
      content: "";
      display: block;
      width: 1px;
      height: 1px;
      border: solid 7px #333;
      border-bottom: 0;
      border-left-color: transparent;
      border-right-color: transparent;
      position: absolute;
      top: 50%;
      right: 2%;
      transform: translate(0, -50%);

      @media (max-width: $mobile_width) {
        top: 78%;
      }
    }
  }

  .radio-group {
    label {
      border: solid 1px $purple_transparent;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
      background-color: $purple_transparent !important;
      color: $purple;

      @media (max-width: $mobile_width) {
        font-weight: normal !important;
        border-radius: 0.3rem !important;
        border-color: $purple !important;
        margin: 0 10px 5px;
      }

      &.selected {
        background-color: $purple !important;
        color: white;
      }
    }
    label:first-of-type {
      border-top-left-radius: 0.3rem;
      border-bottom-left-radius: 0.3rem;
      border-right-color: transparent;
    }
    label:last-of-type {
      border-top-right-radius: 0.3rem;
      border-bottom-right-radius: 0.3rem;
      border-left-color: transparent;
    }
  }
}
