@import "~@@/style/_var";

.node-selector {
  label {
    margin-bottom: 0;
    position: relative;
    z-index: 1;
  }

  .node-selector-list {
    border: solid 1px $sky;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    padding-top: 5px;
    position: relative;
    top: -5px;
  }

  .node-selector-item {
    padding: 5px 8px;

    &.highlighted {
      background-color: $sky_transparent;
    }
    &.selected {
      background-color: $purple_transparent;
    }
  }
}
