$red: #ff4542;
$yellow: #ffb700;
$dim_yellow: rgba(255, 183, 0, 0.4);
$blue: #007bff;
$sky: #30bced;
$sky_transparent: rgba(48, 188, 237, 0.4);
$green: #44af69;
$purple: #7741db;
$purple_transparent: rgba(119, 65, 219, 0.4);

$pixel: "VT323", monospace;

$fadeInAnimation: fadeIn 0.2s linear;

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

$mobile_width: 768px;
$mobile_small: 425px;
