@import "~@@/_var";

.App {
  padding: 60px 30px;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;

  .edit-toggle {
    button {
      border-color: $red;
      color: $red;

      &:hover {
        background-color: $red;
        color: white;
      }
    }
  }
}

button,
.button {
  text-align: center;
  border: none;
  padding: 5px 20px;
  margin-right: 15px;
  font-size: 1rem;
  font-weight: normal;
  cursor: pointer;
  text-decoration: none;
  border-radius: 0.25rem;
  border: 1px solid black;
  background-color: transparent;
  color: black;
  transition: background-color 0.2s linear, color 0.2s linear;
  outline: none;

  &:hover {
    background-color: black;
    color: white;
  }
}

input {
  &[type="text"],
  &[type="tel"],
  &[type="email"],
  &[type="password"] {
    padding: 0.5rem;
    font-size: 1rem;
  }
}

label {
  display: flex;
  grid-template-areas: "label input";
  margin: 0.5rem 0;

  & > span {
    grid-area: label;
    text-align: center;
    background-color: #ccc;
    color: #333;
    z-index: 1;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    border: solid 1px #aaa;
    border-right-color: transparent;
    flex: 1;
    padding: 0.5rem 1rem;
    box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2);
    min-width: 25%;
  }

  input,
  textarea,
  select {
    outline: none;
  }
}
