@import "~@@/_var";

.App {
  padding: 60px 30px;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;

  .edit-toggle {
    button {
      border-color: $red;
      color: $red;

      &:hover {
        background-color: $red;
        color: white;
      }
    }
  }
}

button,
.button {
  text-align: center;
  border: none;
  padding: 5px 20px;
  margin-right: 15px;
  font-size: 1rem;
  font-weight: normal;
  cursor: pointer;
  text-decoration: none;
  border-radius: 0.25rem;
  border: 1px solid black;
  background-color: transparent;
  color: black;
  transition: background-color 0.2s linear, color 0.2s linear;
  outline: none;

  &:hover {
    background-color: black;
    color: white;
  }
}

input {
  &[type="text"],
  &[type="tel"],
  &[type="email"],
  &[type="password"] {
    padding: 0.5rem;
    font-size: 1rem;
    margin-right: 20px;
  }
}
